


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-900 flex items-center justify-center min-h-screen">

  <form class="bg-zinc-800 shadow-xl rounded-2xl w-full max-w-md p-8" method="post" action="/login">
    <h2 class="text-2xl font-bold text-white text-center mb-6">Login User</h2>

    <input 
      class="bg-zinc-700 text-white font-medium rounded-md w-full p-3 mb-4 outline-none focus:ring-2 focus:ring-teal-400 transition" 
      type="email" 
      placeholder="Email" 
      name="email"
      required
    >

    <input 
      class="bg-zinc-700 text-white font-medium rounded-md w-full p-3 mb-6 outline-none focus:ring-2 focus:ring-teal-400 transition" 
      type="password" 
      placeholder="Password" 
      name="password"
      required
    >

    <button 
      class="w-full bg-teal-400 hover:bg-teal-500 text-zinc-900 font-semibold rounded-md p-3 transition">
      Login
    </button>

    <p class="text-center text-zinc-400 mt-4">
      New User? 
      <a class="text-teal-300 hover:underline" href="/">Create Account</a>
    </p>
  </form>

</body>
</html>
